<!-- publicacao_list.html -->

{% extends 'base.html' %}

{% block center %}
  <h2>Lista de Publicações</h2>
  
  <div class="container">
    {% for publicacao in object_list %}
      <div class="post-card" style="border: 1px solid black; margin: 20px; padding: 10px;">
        <div style="display: flex; align-items: center; ">
          <img src="{{ publicacao.autor.usuarioperfil.profileimg.url }}" alt="Profile Picture" class="profile-pic">
          <h5><a href="/profile/{{ publicacao.autor.username }}" style="text-decoration: none;">@{{ publicacao.autor.username }}</a></h5>
        </div>
        {% if publicacao.imagem %}
          <img src="{{ publicacao.imagem.url }}" alt="Post Image" class="post-image" style="max-height: 300px; max-width: 600px;">
        {% endif %}
        <div class="post-content" style="margin-top: 10px;">
          <p>{{ publicacao.texto }}</p>
          <p class="text-muted">{{ publicacao.data_publicacao }}</p>
        </div>
        <a href="{% url 'publicacao_delete' pk=publicacao.id %}" class="btn btn-danger">Excluir</a>
        <a href="{% url 'editar_publicacao' publicacao.id %}" class="btn btn-primary">Editar</a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
