<!-- publicacao_list.html -->

{% extends 'base.html' %}

{% block center %}
  <h2>Lista de Publicações</h2>
  {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <!-- Conteúdo a ser exibido apenas para o administrador -->
            <p>Olá, asa!</p>
            {% else %}
            <!-- Conteúdo para usuários autenticados que não são administradores -->
            <p>Bem-vindo, {{ user.username }}!</p>
            {% endif %}
            {% else %}
            <!-- Conteúdo para usuários não autenticados -->
            <p>Faça login para acessar recursos exclusivos.</p>
            {% endif %}
  <div class="container">
    {% for publicacao in publicacoes %}
      <div class="post-card" style="border: 1px solid black; margin: 20px; padding: 10px;">
        <div style="display: flex; align-items: center; ">
          <a href="{% url 'profile' pk=publicacao.autor.pk %}" style="text-decoration: none;">
            <img src="{{autor.icone.url}}" alt="Profile Picture" class="profile-pic">
            <h5>@{{ publicacao.autor.username }}</h5>
          </a>
        </div>
        {% if publicacao.imagem %}
          <img src="{{ publicacao.imagem.url }}" alt="Post Image" class="post-image" style="max-height: 300px; max-width: 600px;">
        {% endif %}
        <div class="post-content" style="margin-top: 10px;">
          <p>{{ publicacao.texto }}</p>
          <p class="text-muted">{{ publicacao.data_publicacao }}</p>
        </div>
        <a href="{% url 'publicacao_detalhe' pk=publicacao.id %}" class="btn btn-primary">Compartilhar</a>
        {% if user.is_authenticated and user == publicacao.autor %}
          <a href="{% url 'publicacao_delete' pk=publicacao.id %}" class="btn btn-danger">Excluir</a>
          <a href="{% url 'editar_publicacao' publicacao.id %}" class="btn btn-primary">Editar</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endblock %}
