{% extends 'base.html' %}

{% block center %}
<style>
    .profile-head {
        transform: translateY(5rem);
    }

    .cover {
        background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background: #654ea3;
        background: linear-gradient(to right, rgba(251, 141, 227, 0.875), rgba(4, 9, 109, 0.674));
        min-height: 100vh;
        overflow-x: hidden;
    }

    .profile-card,
    .post-card {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        border-radius: 15px;
        overflow: hidden;
    }

    .post-card {
        margin-bottom: 20px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #ddd;
        height: auto;
        
    }

    .post-image {
        max-width: 100%;
        max-height: 300px;
        object-fit:contain;
    }

    a {
        text-decoration: none;
    }


    .bg-light {
        background-color: #ffffff; /* Cor de fundo dos detalhes do perfil */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #ddd;
    }

    .font-italic {
        color: #333; /* Cor do texto de biografia */
    }

    .list-inline-item h5 {
        color: #333; /* Cor do nome de usuário */
    }

    .list-inline-item small {
        color: #888; /* Cor do texto de contagem de postagens */
    }
</style>

<div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden profile-card">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        <img src="{{ usuario_perfil.icone.url }}" alt="Profile" width="130" class="rounded mb-2 img-thumbnail">
                        {% if user.is_authenticated and request.user == profile_user %}
                            <a href="{% url 'editar_perfil' pk=usuario_perfil.pk %}" class="btn btn-outline-dark btn-sm btn-block">Editar perfil</a>
                        {% endif %}
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@{{profile_user.username}}</h4>
                        {% if request.user.is_authenticated %}
                            <p>Pseudônimo: {{ usuario_perfil.pseudonimo }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{user_posts.count}}</h5>
                        <small class="text-muted">Postagens</small>
                    </li>
                </ul>
            </div>
            <div class="px-4 py-3">
                <h5 class="mb-0">Sobre</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    <p class="font-italic mb-0">{{ usuario_perfil.biografia }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row py-4">
    <div class="col-md-8 mx-auto">
        {% for publicacao in user_posts %}
            <a href="{% url 'publicacao_detalhe' pk=publicacao.id %}" class="text-decoration-none">
                <div class="card post-card">
                    {% if publicacao.imagem %}
                        <img src="{{ publicacao.imagem.url }}" alt="Post Image" class="card-img-top post-image">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text" style="white-space: pre-line;">{{ publicacao.texto }}</p>
                        <p class="text-muted">{{ publicacao.data_publicacao }}</p>
                        <div class="detalhar-btn">
                            <!-- Se precisar adicionar algum botão específico para publicações do perfil -->
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% if user_posts|length == 0 %}
            <h3 style="margin: 20px;">Nenhuma publicação encontrada.</h3>
        {% endif %}
    </div>
</div>
{% endblock center %}
