{% extends 'base.html' %}

{% block center %}
<style>
    /* Adicione ao seu arquivo de estilo (por exemplo, app.css) */

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        max-width: 400px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn {
        background-color: #007bff;
        color: #fff;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <div class="card">
        <h2 class="text-center mb-4">Editar Perfil</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.nome.id_for_label }}">Nome:</label>
                {{ form.nome }}
            </div>

            <div class="form-group">
                <label for="{{ form.biografia.id_for_label }}">Biografia:</label>
                {{ form.biografia }}
            </div>

            <div class="form-group">
                <label for="{{ form.icone.id_for_label }}">Foto de Perfil:</label>
                {{ form.icone }}
            </div>

            <!-- Adicione outros campos conforme necessário -->

            <button type="submit" class="btn btn-primary mt-3">Salvar Alterações</button>
        </form>
    </div>
</div>
{% endblock %}