{% extends 'base.html' %}

{% block center %}


<div class="container">
    <div class="card">
        
        {% if publicacao.imagem %}
          <img src="{{ publicacao.imagem.url }}" alt="Post Image" class="post-image" style="max-height: 300px; max-width: 600px;">
        {% endif %}
        <div class="post-content" style="margin-top: 10px;">
          <p>{{ publicacao.texto }}</p>
        </div>

        <p>Publicado por: {{ publicacao.autor }}</p>
        <p>Data de publicação: {{ publicacao.data_publicacao }}</p>

        <!-- Adicione outros detalhes da publicação conforme necessário -->
    </div>
    {% if request.user.is_authenticated and user == object.autor.usuario%}

    <a href="{% url 'publicacao_delete' pk=publicacao.id %}" class="btn btn-danger">Excluir</a>
    <a href="{% url 'editar_publicacao' publicacao.id %}" class="btn btn-primary">Editar</a>
    {% endif %}
</div>

{% endblock %}