{% extends 'base.html' %}

{% block center %}
<style>
  body {
    background: #f8f9fa;
  }

  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
  }

  .post-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }

  .post-content {
    margin-top: 10px;
  }

  .details {
    margin-top: 15px;
    font-size: 14px;
    color: #6c757d;
  }

  .details p {
    margin: 5px 0;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .actions a {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
  }

  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }

  .btn-primary:hover,
  .btn-danger:hover {
    text-decoration: none;
  }

  .post-image {
    margin-bottom: 10px;
    border-radius: 8px;
  }
</style>

<div class="container">
  <div class="card">
    {% if publicacao.imagem %}
    <img src="{{ publicacao.imagem.url }}" alt="Post Image" class="post-image"">
        {% endif %}
        <div class=" post-content">
    <p style="white-space: pre-line;">{{ publicacao.texto }}</p>
  </div>

  <div class="details">
    <p>Publicado por: {{ publicacao.autor }}</p>
    <p>Data de publicação: {{ publicacao.data_publicacao }}</p>
  </div>

  {% if request.user.is_authenticated and user == object.autor.usuario or request.user.is_superuser %}
  <div class="actions">
    <a href="{% url 'publicacao_delete' pk=publicacao.id %}" class="btn btn-danger">Excluir</a>
    <a href="{% url 'editar_publicacao' publicacao.id %}" class="btn btn-primary">Editar</a>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}