{% extends 'base.html' %}

{% block center %}


<div class="container">
    <div class="card">
        <h2>{{ publicacao.texto }}</h2>

        <p>Publicado por: {{ publicacao.autor.username }}</p>
        <p>Data de publicação: {{ publicacao.data_publicacao }}</p>

        <!-- Adicione outros detalhes da publicação conforme necessário -->
    </div>
    {% if user.is_authenticated and user == publicacao.autor %}
    <a href="{% url 'publicacao_delete' pk=publicacao.id %}" class="btn btn-danger">Excluir</a>
    <a href="{% url 'editar_publicacao' publicacao.id %}" class="btn btn-primary">Editar</a>
    {% endif %}
</div>

{% endblock %}